H3 {
    width: 400pt;
    height:4cm;
    color: #9f3e78;
    padding : 50px;
    margin : 40px;
    border : 4px outset red;
    background : rgb(241, 91, 163);
}
/* Radosław Kobierski 3G gr.1 */