p#akapit1
{
color:orange;
font-size:23pt;
}
p#akapit2
{
color:orange;
font-size:22pt;
}
p#akapit1:first-letter
{
color:lightgreen;
font-size:120pt;
}
p#akapit2:first-letter
{
color:red;
font-size:120pt;
}
h1
{
color:purple;
font-size:30pt;
}
h1:first-letter
{
color:silver;
font-size:120pt;
}
p#akapit3
{
color:navy;
font-size:30pt;
}
p#akapit3::first-letter
{
color:red;
font-size:120;
}
p#akapit3:first-line
{
color:red;
font-size:20pt;
}